@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #E7EDEE;
  background-color: #111A1F;
}

.page-container {
  min-height: 100vh;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

.input-box,
.output-box {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  box-sizing: border-box;
}

.input,
.output {
  height: 250px;
  background-color: #1A252A;
  border: none;
  box-shadow: 1px 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  resize: none;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  margin: 0;
}


.output {
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
}

.translateB {
  padding: 0.7rem 4rem;
  font: inherit;
  border-radius: 0px 5px 5px 0px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  padding: 3rem 0 3rem 0;
  color: white;
}

.switchB {
  padding: 0.7rem;
  border-radius: 5px 0px 0px 5px;
}

button {
  display: block;
  color: #E7EDEE;
  background-color: #161F25;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: #1A252A;
}

.button-container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 3px;

}